*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}
.card{
    width:90%;
    max-width: 470px;
    color: #fff;   
    background: linear-gradient(#e66465, #9198e5);
     margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 25px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebebeb;
    color: #555;
    padding:10px 25x;
    height:50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}
.search button{
    border: 0;
    outline: 0;
    background: #9198e5;
    border-radius: 50%;
    width:60px;
    height:60px;
    cursor: pointer;
}
.search button img{
    width: 16px;

}
.weather img{
    mix-blend-mode: multiply;

}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 60px;
    font-weight: 500;
}
.weather h2{
    font-size: 25px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col{
    display:flex;
    align-items: center;
    text-align:left;

}
.col img{
    width: 40px;
    margin-right:10px;
}

.humidity, .wind{
    font-size:15px;
    margin-top: -6px;
}
.weather{
    display:none;
}